---
import i18next from 'i18next';

// Site components
import BaseHead from '../components/BaseHead.astro';
import SiteFooter from '../components/SiteFooter.astro';
import SiteMainNav from '../components/SiteMainNav/SiteMainNav.astro';

export interface Props {
    current_page: string;
    current_page_meta_title: string;
    current_page_meta_description: string;
}

const { current_page, current_page_meta_title, current_page_meta_description } =
    Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language} class='html_tag'>
    <head>
        <BaseHead
            current_page_meta_title={current_page_meta_title}
            current_page_meta_description={current_page_meta_description}
        />
    </head>

    <body class={current_page}>
        <SiteMainNav current_page={current_page} />

        <slot />

        <SiteFooter />

        <script>
            import '/src/scripts/main_site_nav.ts';
        </script>
    </body>
</html>
