---
import i18next from 'i18next';

// Site components
import BaseHead from '../components/HeadTags/BaseHead.astro';
import SiteFooter from '../components/SiteFooter.astro';
import SiteMainNav from '../components/SiteMainNav/SiteMainNav.astro';

export type Props = {
    indexPage?: boolean;
    current_page: string;
    metaTitle: string;
    metaDescription: string;
    metaImage?: {
        src: string;
        alt: string;
    };
};

const { indexPage, current_page, metaTitle, metaDescription, metaImage } =
    Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language} class='html_tag'>
    <BaseHead {indexPage} {metaTitle} {metaDescription} {metaImage} />

    <!-- Google tag (gtag.js) -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=G-HG8691T89E'
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-HG8691T89E');
    </script>

    <body class={current_page}>
        <SiteMainNav {current_page} />

        <slot />

        <SiteFooter />

        <script>
            import '/src/scripts/main_site_nav.ts';
        </script>
    </body>
</html>
